<div class="contact">
  <h4>Contact Us</h4>
  <p>401 5th Avenue</p>
  <p>Seattle, WA 98101</p>
</div>

<div class="hours">
  <h4>Hours</h4>
  <p>Monday: 4 am - 11 am</p>
  <p>All other days: 24 hours</p>
</div>
