<h1><a href="/">BeanDust</a></h1>
<h2><a href="/">E s p r e s s o</a></h2>

<nav class="links">

  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/mission">Mission</a></li>
    <li><a href="/location">Location</a></li>
    <li><a href="/menu">Menu</a></li>
    <li><a href="/store">Store</a></li>
  </ul>
</nav>
