<meta charset="UTF-8">

<title>BeanDust Espresso</title>


<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Ubuntu" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Rock+Salt|Source+Sans+Pro|Ubuntu" rel="stylesheet">
