<h1><a href="/">Beandust Espresso</a></h1>
<nav>
  <ul>
    <a href="/about"><li>About</li></a>
    <a href="/mission"><li>Mission</li></a>
    <a href="/location"><li>Location</li></a>
    <a href="/menu"><li>Menu</li></a>
    <a href="/store"><li>Store</li></a>
  </ul>
</nav>
