body {
  margin: 0 auto;
  max-width: 960px;
}

main {
  min-height: 500px;
}


header h1 {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Amatic SC', cursive;
  font-size: 75px;
  color: #AA3939;
  margin-bottom: -50px;
}

header h2 {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  color: #AA3939;
  margin-bottom: -50px;

}

a {
  text-decoration: none;
}

a:visited {
  color: #226666;
}

nav ul {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
  margin-top: 70px;
}

nav ul li {
  display: inline;
  padding: 10px;
}

footer {
  text-align: center;
  border-top: 1px solid black;
}

.contact, .hours {
  display: inline-block;
  margin: 0 35px;
  line-height: 0.5em;
}
