body {
  margin: 0 auto;
  max-width: 960px;
}

main {
  min-height: 500px;
  text-align: center;
}

header h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

nav ul {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
}

nav ul li {
  display: inline;
  padding: 10px;
}

footer {
  text-align: center;
  border-top: 1px solid black;
  clear: both;
}

.contact, .hours {
  display: inline-block;
  margin: 0 35px;
  line-height: 0.5em;
}

#inside-shop-photo {
  border-radius: 15px;
  box-shadow: 1px 5px 5px black;
}

.welcome-text {
  font-size: 1.7em;
}

.welcome-header {
  font-size: 2em;
}

#sage-photo {
  border-radius: 100%;
  width: 300px;
  float: right;
  margin-left: 25px;
  box-shadow: 1px 5px 5px black;

}

#raymond-photo {
  border-radius: 100%;
  width: 300px;
  float: left;
  margin-right: 25px;
  box-shadow: 1px 5px 5px black;

}

#raymond-about, #sage-about {
  clear: both;
  max-width: 66%;
  margin: 0 auto;
}

#sage-about p, #raymond-about p {
  padding: 100px 30px;
  font-size: 1.2em;
}
