body {
  margin: 0 auto;
  max-width: 960px;
}

header h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

nav ul {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px; 
}

nav ul li {
  display: inline;
  padding: 10px;
}
