body {
  margin: 0 auto;
  max-width: 960px;
}

main {
  text-align: center;
  padding-bottom: 40px;
  font-family: 'Alegreya Sans', sans-serif;
  line-height: 1.7em;
}


header h1 {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Amatic SC', cursive;
  font-size: 75px;
  color: #AA3939;
  margin-bottom: -50px;
}

header h2 {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  color: #AA3939;
  margin-bottom: -50px;

}

a {
  text-decoration: none;
}

nav ul {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
  margin-top: 70px;
}

nav ul li {
  display: inline;
  padding: 10px;
  color: #226666;
  font-family: 'Amatic SC';
  font-size: 35px;
}

a:visited {
  color: #226666;
}

a:hover {
  color: #AA3939;
}

footer {
  text-align: center;
  border-top: 1px solid black;
}

.contact, .hours {
  display: inline-block;
  margin: 0 35px;
  line-height: 0.5em;
  color: #804515;
  font-family: 'Amatic SC';
  font-size: 25px;
  letter-spacing: .15em;
}

#inside-shop-photo {
  border-radius: 15px;
  box-shadow: 1px 5px 5px black;
}

.welcome-text {
  font-size: 1.7em;
}

.welcome-header {
  font-size: 2em;
}

#sage-photo {
  border-radius: 100%;
  width: 300px;
  float: right;
  margin-left: 25px;
  box-shadow: 1px 5px 5px black;

}

#raymond-photo {
  border-radius: 100%;
  width: 300px;
  float: left;
  margin-right: 25px;
  box-shadow: 1px 5px 5px black;

}

#raymond-about, #sage-about {
  clear: both;
  max-width: 70%;
  margin: 0 auto;
  padding: 20px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#sage-about p, #raymond-about p {
  font-size: 1.2em;
}

#sage-about h3, #raymond-about h3 {
  font-size: 1.5em;
}

.mission-text {
  max-width: 75%;
  margin: 0 auto;
  font-size: 1.2em;
}

#outside-shop-photo {
  width: 50%;
}

#menu-container {
  text-align: left;
  max-width: 80%;
  margin-right: 20px;
}

.drink-item {
  font-weight: 800;
}

table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

  td:nth-of-type(1):before { content: "Drink"; }
  td:nth-of-type(2):before { content: "12 oz"; }
  td:nth-of-type(3):before { content: "16 oz"; }
}
