<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <main>
      <h2>About Us</h2>
        <div id='sage-about'>
          <img id='sage-photo' src='img/sage.jpeg' alt='Inside Coffee Shop'/>
          <p>
            Sage Donnelly has a doctorate of the arts from North Kenwood university. She uses her talents to help launch small businesses. Some of her past successes include Microsoft, Standard Oil, The North Atlantic Railroad, and Google.
          </p>
        </div>
        <div id='raymond-about'>
          <img id='raymond-photo' src='img/raymond.jpeg' alt='Inside Coffee Shop'/>
          <p>
            Raymond Grady is a self-sealing stembolt mogul with a passion for amazing coffee. He’s put his vast stem-bolt fortune toward opening Beandust espresso. His dedication knows no bounds.
          </p>
        </div>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
