
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class='order-conf-container'>
      <h2 id='order-conf'>Your order has been placed! Come by and pick it up anytime.<br>Check your email for your receipt.</h2>
    </div>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
