<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <h1>This is a test! - Durak Obama</h1>
    <p>Internet FTW</p>
  </body>
</html>
