<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="trg.css">
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <main>
      <div id='menu-container' class="container debug">
        <div id="drinks-menu">
          <div class="col span-5-t span-5-d">
            <h3 class="menu-heading">Drinks</h3>
          </div>
          <div class="col span-3-t span-4-d 12oz">
            <h3 class='menu-heading'>12oz</h3>
          </div>
          <div class="col span-4-t span-3-d 16oz">
            <h3 class='menu-heading'>16oz</h3>
          </div>
          <div class="col span-5-t span-5-d drink-item">
            Espresso
          </div>
          <div class="col span-3-t span-4-d 12oz">
            $2.25
          </div>
          <div class="col span-4-t span-3-d 16oz">
            $3
          </div>
          <div class="col span-5-t span-5-d drink-item">
            Macchiato
          </div>
          <div class="col span-3-t span-4-d 12oz">
            $3
          </div>
          <div class="col span-4-t span-3-d 16oz">
            $3.50
          </div>
          <div class="col span-5-t span-5-d drink-item">
            Latte
          </div>
          <div class="col span-3-t span-4-d 12oz">
            $3.75
          </div>
          <div class="col span-4-t span-3-d 16oz">
            $4.25
          </div>
          <div class="col span-5-t span-5-d drink-item">
            Mocha
          </div>
          <div class="col span-3-t span-4-d 12oz">
            $4
          </div>
          <div class="col span-4-t span-3-d 16oz">
            $4.50
          </div>
          <div class="col span-5-t span-5-d drink-item">
            Americano
          </div>
          <div class="col span-3-t span-4-d 12oz">
            $2.75
          </div>
          <div class="col span-4-t span-3-d 16oz">
            -
          </div>
          <div class="col span-5-t span-5-d drink-item">
            Americano Misto
          </div>
          <div class="col span-3-t span-4-d 12oz">
            $3.50
          </div>
          <div class="col span-4-t span-3-d 16oz">
            $4
          </div>
          <div class="col span-5-t span-5-d drink-item">
            Cafe au lait
          </div>
          <div class="col span-3-t span-4-d 12oz">
            $2.75
          </div>
          <div class="col span-4-t span-3-d 16oz">
            $3.25
          </div>
          <div class="col span-5-t span-5-d drink-item">
            Drip
          </div>
          <div class="col span-3-t span-4-d 12oz">
            $2.25
          </div>
          <div class="col span-4-t span-3-d 16oz">
            $2.50
          </div>
          <div class="col span-5-t span-5-d drink-item">
            Tea
          </div>
          <div class="col span-3-t span-4-d 12oz">
            $2.75
          </div>
          <div class="col span-4-t span-3-d 16oz">
            -
          </div>
          <div class="col span-5-t span-5-d drink-item">
            Cocoa
          </div>
          <div class="col span-3-t span-4-d 12oz">
            $3.25
          </div>
          <div class="col span-4-t span-3-d 16oz">
            $3.75
          </div>
          <div class="col span-5-t span-5-d drink-item">
            Chai Latte
          </div>
          <div class="col span-3-t span-4-d 12oz">
            $3.50
          </div>
          <div class="col span-4-t span-3-d 16oz">
            $4
          </div>
        </div>
        <div id="pastries-menu">
          <div class="col span-3-t span-9-d debug">
            <h3 class="menu-heading">Pastries</h3>
          </div>
          <div class="col span-9-t span-3-d debug">
            <h3 class='menu-heading'>Price</h3>
          </div>
          <div class="col span-3-t span-9-d debug menu-item">
            Jalapeño Croissant
          </div>
          <div class="col span-9-t span-3-d debug price-right">
            $8.50
          </div>
          <div class="col span-3-t span-9-d debug menu-item">
            Blueberry Acai Muffin
          </div>
          <div class="col span-9-t span-3-d debug price-right">
            $10
          </div>
          <div class="col span-3-t span-9-d debug menu-item">
            Kale Infused Bagel
          </div>
          <div class="col span-9-t span-3-d debug price-right">
            $9
          </div>
          <div class="col span-3-t span-9-d debug menu-item">
            Kimchi Bagel
          </div>
          <div class="col span-9-t span-3-d debug price-right">
            $8.50
          </div>
          <div class="col span-3-t span-9-d debug menu-item">
            Free Range Quiche
          </div>
          <div class="col span-9-t span-3-d debug price-right">
            $15
          </div>
          <div class="col span-3-t span-9-d debug menu-item">
            Tofu Donut
          </div>
          <div class="col span-9-t span-3-d debug price-right">
            $7.50
          </div>
        </div>
      </div>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
