<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class='product-details'>
      <div class='product-photo'>
        <img id='beans-photo' src='img/coffee_beans.jpeg' alt='1 lb. Coffee Bag' />
      </div>
      <div class='product-form'>
        <h4>1 lb. Coffee Beans</h4>
        <form action="/charge" method="POST">
          <input type='hidden' name='product' value='1 lb. Coffee Beans' />
          <input type='hidden' name='amount' value='2500' />
          <label>Amount: $25.00</label><br>
          <script
          src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="pk_test_FpQAWX9jkaH1DokW60vIFl8A"
          data-key=keyPublishable,
          data-amount="2500"
          data-name="BeanDust"
          data-description="1 lb. Coffee Beans"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto"
          data-zip-code="true">
          </script>
        </form>
      </div>
    </div>

    <div class='product-details'>
      <div class='product-photo'>
        <img id='tote-photo' src='img/tote.jpeg' alt='BeanDust Tote' />
      </div>
      <div class='product-form'>
        <h4>BeanDust Tote</h4>
        <form action="/charge" method="POST">
          <input type='hidden' name='product' value='BeanDust Tote' />
          <input type='hidden' name='amount' value='1500' />
          <label>Amount: $15.00</label><br>
          <script
          src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="pk_test_FpQAWX9jkaH1DokW60vIFl8A"
          data-key=keyPublishable,
          data-amount="1500"
          data-name="BeanDust"
          data-description="BeanDust Tote"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto"
          data-zip-code="true">
          </script>
        </form>
      </div>
    </div>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
